
:root {
  --back: #202020;
  --green: #bcec30;
}

body {
  margin: 0;
  background-color: var(--back);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, var(--back) 0%, var(--green) 20px, var(--green) calc(100% - 20px), var(--back) 100%);
}

.hidden {
  display: none;
}

.container {
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 200px;
  min-height: 100vh;
}

.comments,
.comment {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment,
.add-form {
  width: 596px;
  box-sizing: border-box;
  background: radial-gradient(
          75.42% 75.42% at 50% 42.37%,
          var(--back) 22.92%,
          #7334ea 100%
  );
  filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
  border-radius: 20px;
}

.comment:not(.comment--mine) {
  position: relative;
  left: -50px;
}

.comment--mine {
  background: radial-gradient(
          75.42% 75.42% at 50% 42.37%,
          var(--back) 22.92%,
          #34ea73 100%
  );
  position: relative;
  right: -50px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comment {
  padding: 48px;
}

.comment-header {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
}

.comment-body {
  margin-top: 32px;
  margin-bottom: 32px;
}

.comment-text {
  font-size: 32px;
}

.likes {
  display: flex;
  align-items: center;
}

.like-button {
  all: unset;
  cursor: pointer;
}

.likes-counter {
  font-size: 26px;
  margin-right: 8px;
}

.like-button {
  margin-left: 10px;
  background-image: url("./img/heart-empty.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.like-button--active {
  background-image: url("./img/heart-filled.svg");
}

.add-form {
  padding: 20px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.add-form-name,
.add-form-text {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  border-radius: 8px;
  border: 3px solid white;
  box-sizing: border-box;
  outline: none;
}

.add-form-name {
  width: 300px;
  padding: 11px 22px;
}

.add-form-text {
  margin-top: 12px;
  padding: 22px;
  resize: none;
}

.add-form-name:active,
.add-form-text:active,
.add-form-name:focus,
.add-form-text:focus {
  border: 3px solid var(--green);
}

.add-form--error {
  background-color: lightpink;
}

.add-form-row {
  display: flex;
  justify-content: space-between;
}

.add-form-button {
  margin-top: 24px;
  font-size: 22px;
  padding: 10px 20px;
  background-color: var(--green);
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.add-form-button:disabled {
  background-color: gray;
}

.add-form-button:hover {
  opacity: 0.9;
}
